@{
    ViewBag.Title = "Broccoli Trade - Брокколи Трейд. Торговые системы. Торговые роботы. Обучение форекс. Интернет торговля. Биржи. Форекс. Форекс биржи.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section head {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/coda-slider.1.1.1.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing-compatibility.1.2.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing.1.2.pack.js")"></script>
}

<div class="banner">
    <div class="slider">
        <div class="slide-1">
            <img class="broccoli" src="@Url.Content("~/Content/img/broccoli.png")"/>
            <div class="text">
                <h2>Партнерам</h2>
                <p>От недельных до многолетних инвестиций. Для дерзких и консервативных инвесторов!</p>
                <a>Подробнее</a>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="center-content">
        
    </div>
</div>