<img style="position: absolute; bottom: 0; left: 0; height: 200px;" src="@Url.Content("~/Content/img/depositphotos_15705219-Brassica-Oleracea--Romanesco-broccoli--Roman-cauliflower1.png")"/>
<div class="footer-content">
    <ul class="links-container">
        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
        <li><a href="@Url.Action("BroccoliOffer", "Home")">Калькулятор Брокколи</a></li>
        <li><a href="@Url.Action("BrokerInfo", "Home")">Брокеры</a></li>
        <li><a href="@Url.Action("ContactUs", "Home")">Свяжитесь с Нами</a></li>
    </ul>
    <p class="footer-text">
        Брокколи трэйд — это сайт, где Вы можете сформировать свой инвестиционный портфель бесплатно, получать новые инструменты инвестиций, позволяющие заработать сразу — брокколи трэйд — лучшее решение. Здоровые инвестиции.
    </p>
    <p class="copyright">2012 - @DateTime.Now.Year Broccoli-Trade.</p>
    <a class="partner-link" href="@Url.Action("Partners", "Home")">Партнерская программа</a>
</div>