@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/main.js")"></script>
}


<div class="banner small">
    <div class="action">
        <font>Вход</font>
    </div>
</div>
<div class="center-content">
    <table class="login-page">
        <tr>
            <td class="first">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "loginForm" }))
                {
                    <div>
                        @Html.Label("Email")
                    </div>
                        @Html.TextBox("login")
                    <div>
                        @Html.Label("Пароль")
                    </div>
                        @Html.TextBox("password")
                    <div>
                        @Html.Label("Запомнить меня")
                    </div>
                        @Html.CheckBox("rememberMe")
                    <button id="submit" class="green-button">Вход</button>
                }
            </td>
            <td class="second">
                
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    document.LogOnUrl = "@Url.Action("Login", "Account")";
</script>