@model BroccoliTrade.Web.BroccoliMvc.Models.Account.UserProfilePoco

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Register/register.form.js")"></script>
}

<div class="banner small">
    <div class="action">
        <font>Регистрация</font>
    </div>
</div>
<img id="srcBtnOk" src="@Url.Content("~/Content/img/button_ok_7852.png")" style="display: none;" />
<div class="center-content">
    <div class="register-form">
        <h5>Заполните поля регистрации.</h5>
        <h6>Поля помеченные * обязательны для заполнения.</h6>
        <br />
        @using (Html.BeginForm("FinishRegister", "Account", FormMethod.Post, new { @id = "form" }))
        {
            <table>
                <tr class="bad">
                    <td class="labels">
                        @Html.Label("Имя и фамилия *")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Name, new { @id = "name" })
                    </td>
                </tr>
                <tr>
                    <td class="labels">
                        @Html.Label("Ник")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Nickname, new { @id = "nickname" })
                    </td>
                </tr>
                <tr class="bad">
                    <td class="labels">
                        @Html.Label("Email *")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email, new { @id = "email" })
                    </td>
                </tr>
                <tr>
                    <td class="labels">
                        @Html.Label("Номер сотового")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Phone, new { @id = "phone" })
                    </td>
                </tr>
                <tr class="bad">
                    <td class="labels">
                        @Html.Label("Страна")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Country, new { @id = "country" })
                    </td>
                </tr>
                <tr>
                    <td class="labels">
                        @Html.Label("Город")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.City, new { @id = "city" })
                    </td>
                </tr>
                <tr class="bad">
                    <td class="labels">
                        @Html.Label("Дата рождения *")
                    </td>
                    <td>
                        @Html.DropDownList("Day", (IEnumerable<SelectListItem>)ViewBag.Days)
                        @Html.DropDownList("Month", (IEnumerable<SelectListItem>)ViewBag.Months)
                        @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.Years)
                        @Html.HiddenFor(m => m.BirthDay, new { @id = "birthday" })
                    </td>
                </tr>
                <tr>
                    <td class="labels">
                        @Html.Label("Пароль *")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Password, new { @id = "password", @type = "password" })
                    </td>
                </tr>
                <tr class="bad">
                    <td class="labels">
                        @Html.Label("Повторите пароль *")
                    </td>
                    <td>
                        @Html.TextBox("confirmPassword", null, new { @type = "password" })
                    </td>
                </tr>
            </table>
        }
        <div class="agreeement">
            <h5>Пользовательское соглашение:</h5>
            <textarea readonly="readonly" rows="7">Регистрируясь на сайте broccoli-trade.ru, Вы соглашаетесь со всеми условиями, которые изложены ниже. 
1. Пользователь программы «советника» далее клиент, берет на себя всю полноту ответственности, связанную с торговлей на рынке форекс. 
2. Клиент должен безоговорочно понимать, что не зависимо от того что вам подсказывает полученная программа окончательное решение принимает сам пользователь. 
3. Сайт broccoli-trade.ru не гарантирует, что после установки одной или нескольких приобретенных у нее программ, покупателю гарантирована постоянная прибыль. 
4. Сайт broccoli-trade.ru не несет ответственности за потерю средств, в процессе торговле на рынке форекс. 
5. Сайт broccoli-trade.ru не несет ответственности за работу брокерской фирмы или дилингового центра, в котором клиент-пользователь программы «советника» открыл свой счет. 
6. Сайт broccoli-trade.ru не несет ответственность за деньги, которые были положены на депозит брокера или дилингового центра, клиентом. 
7. Все возникшие проблемы, связанные с приобретенным товаром решаются путем переговоров с представителями сайта broccoli-trade.ru при помощи переписки по почте. 
8. Вы подтверждаете свое согласие получать на своей Email адрес письма, о выходе новых программных продуктов и новостях компании Broccoli-trade. В любой момент Вы можете отписаться от рассылки направив письмо с просьбой через форму обратной связи на сайте broccoli-trade.ru 
Предупреждение о рисках при торговли на международном валютном рынке форекс. Помните: проведение операций на международном валютном рынке форекс всегда сопровождается высоким уровнем риска. Торговля на рынке Форекс подходит не для каждого инвестора. Определяйте границы риска! Используйте в торговле только те средства, которые Вы можете позволить себе потерять без катастрофических последствия для Вас, или Вашей семьи. Даже надежная работа таких советников как Garanted Profit, никогда не гарантирует, что в будущем торговля продолжит оставаться такой же успешной, как и в предыдущий период времени. На рынке форекс Вы совершаете торговые операции используя кредитное плечо. Это значит, что любое движение рынка многократно усиливается и сразу отражается на счете. Плечо может работать как на Вас, так и против Вас. Если рынок начнет двигаться против Ваших позиций, то возникает риск полностью потерять первоначально вложенные средства и все дополнительные суммы, внесенные для поддержания позиции. В любой момент на рынке форекс могут наступить условия, отличающиеся от нормальных. В это время могут перестать работать стратегии, которые ранее приводили к успешным результатам, и появляется вероятность полностью потерять средства. 
Существуют риски, связанные с техническим аспектом торговли. Среди них – плохая связь, отказ или сбой оборудования и программ, неправильная настройка советников, ошибки в программировании советников. 
Некачественная работа брокера при выполнении приказов также может вызвать сбой работы советника и Вы можете понести потери. Если у Вас возникают сомнения по поводу своего участия в торговле на рынке форекс, мы рекомендуем проконсультироваться у специалистов. В дальнейшем, когда Вы начнете торговать и использовать советники от компании Broccoli-trade, то мы, по умолчанию, будем считать, что Вы полностью понимаете и сознательно берете на себя все риски, присущие торговле на международном валютном рынке форекс. Пользуясь советниками сайта broccoli-trade.ru Вы соглашаетесь с рисками при торговли на международном валютном рынке форекс и не будете иметь претензий к сайту broccoli-trade.ru в случае не успешных результатов работы торговых советников.
            </textarea>
        </div>
        <button id="send" class="green-button register-button">Я согласен, регистрируйте!</button>
    </div>
</div>

<script type="text/javascript">
    document.NicknameCheckUrl = "@Url.Action("NicknameIsExist", "Account")";
    document.EmailCheckUrl = "@Url.Action("EmailIsExist","Account")";
</script>