<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/img/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/support/index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/support/green.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/fancybox/jquery.fancybox-buttons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/fancybox/jquery.fancybox-thumbs.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/fancybox/jquery.fancybox.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery-ui-1.9.2.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/main.js")"></script>
    <!-- FancyBox -->
	<script src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>
	<script src="@Url.Content("~/Scripts/fancybox/jquery.fancybox-buttons.js")"></script>
	<script src="@Url.Content("~/Scripts/fancybox/jquery.fancybox-thumbs.js")"></script>
    <script src="@Url.Content("~/Scripts/fancybox/jquery.easing-1.3.pack.js")"></script>
    <script src="@Url.Content("~/Scripts/fancybox/jquery.mousewheel-3.0.6.pack.js")"></script>
    <script src="@Url.Content("~/Scripts/vk_up_button/button.js")"></script>

    @RenderSection("head", required:false)
</head>
    <body>
        <div class="header">
            <div class="green-line">
                <div class="logo-container">
                    <img src="@Url.Content("~/Content/img/temp_logo.png")"/>
                    <a href="@Url.Action("Index", "Home")" class="logo-text">Broccoli<br />Trade</a>
                    <span>Советники</span>
                    <a class="switch-site" href="http://broccoli-trade.ru">Перейти к "ПАММ-счетам"</a>
                </div>
            </div>
            <div class="white-line">
                @Html.Partial("MainMenu")
            </div>
            <div class="light-line">
                <div class="secondary-menu">
                    @Html.Partial("Menu")
                    @RenderSection("navigationMenu", required:false)
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()    
        </div>
        <div class="footer">
            @Html.Partial("Footer")
        </div>
        <div class="opacity"></div>
        <div id="top-link-full">
            <div id="top-link">
                <a href="#top">Наверх</a>
            </div>
        </div>
        <span id="sh_button" class="sh_help_button_bottom" onclick="popupwindow('@Url.Content("~/Content/support/support.html")', 'Поддержка', 600, 500)">
            <a href="http://siteheart.com/" target="_blank" class="sh_help_button_chat"></a>
            <div class="sh_help_button_line"></div>Онлайн консультация<!--<div _tmplitem="1"  class="sh_ic_chat_up"></div>-->
        </span>
        <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter20452048 = new Ya.Metrika({id:20452048, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20452048" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    </body>
</html>
