<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/fancybox/jquery.fancybox-buttons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/fancybox/jquery.fancybox-thumbs.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/fancybox/jquery.fancybox.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery-ui-1.9.2.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/main.js")"></script>
    <!-- FancyBox -->
	<script src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>
	<script src="@Url.Content("~/Scripts/fancybox/jquery.fancybox-buttons.js")"></script>
	<script src="@Url.Content("~/Scripts/fancybox/jquery.fancybox-thumbs.js")"></script>
    <script src="@Url.Content("~/Scripts/fancybox/jquery.easing-1.3.pack.js")"></script>
    <script src="@Url.Content("~/Scripts/fancybox/jquery.mousewheel-3.0.6.pack.js")"></script>
    <script src="@Url.Content("~/Scripts/vk_up_button/button.js")"></script>

    @RenderSection("head", required:false)
</head>
    <body>
        <div class="header">
            <div class="green-line">
                <div class="logo-container">
                    <img src="@Url.Content("~/Content/img/temp_logo.png")"/>
                    <a href="@Url.Action("Index", "Home")" class="logo-text">Broccoli<br />Trade</a>
                </div>
            </div>
            <div class="white-line">
                @Html.Partial("MainMenu")
            </div>
            <div class="light-line">
                <div class="secondary-menu">
                    @Html.Partial("Menu")
                    @RenderSection("navigationMenu", required:false)
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()    
        </div>
        <div class="footer">
        </div>
        <div class="opacity"></div>
        <div id="top-link-full">
            <div id="top-link">
                <a href="#top">Наверх</a>
            </div>
        </div>
        <script type="text/javascript"> _shcp = []; _shcp.push({ widget_id: 565983, widget: "Chat", side: "right", position: "top", template: "green", title: "Онлайн консультант", title_offline: "Оффлайн" }); (function () { var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true; hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://widget.siteheart.com/apps/js/sh.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling); })(); </script>
    </body>
</html>
