<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/main.js")"></script>
    @RenderSection("head", required:false)
</head>
    <body>
        <div class="header">
            <div class="green-line">
                <div class="logo-container">
                    <img class="logo-flag" src="@Url.Content("~/Content/img/logo-flag.png")" />
                    <font class="logo-text">Broccoli<br />Trade</font>
                </div>
            </div>
            <div class="gray-line">
                <div class="menu">
                    @RenderSection("mainMenu", required:false)
                </div>
            </div>
            <div class="light-line">
                <div class="secondary-menu">
                    @Html.Partial("Menu")
                    @RenderSection("navigationMenu", required:false)
                </div>
            </div>
            <div class="white-line">
                <div class="steps">
                    <div style="float: right;">
                        <span class="step first">1. Зарегистрируйтесь</span>
                        <span class="step">2. Откройте свой счет</span>
                        <span class="step">3. Получите свой советник</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()    
        </div>
        <div class="footer">
        </div>
        <div class="opacity"></div>
    </body>
</html>
