<img style="position: absolute; bottom: 0; left: 0; height: 200px;" src="@Url.Content("~/Content/img/depositphotos_15705219-Brassica-Oleracea--Romanesco-broccoli--Roman-cauliflower1.png")"/>
<div class="footer-content">
    <ul class="links-container">
        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
        <li><a href="@Url.Action("Comments", "Home")">Отзывы</a></li>
        <li><a href="@Url.Action("BroccoliOffer", "Home")">Предложение Брокколи</a></li>
        <li><a href="@Url.Action("BrokerInfo", "Home")">Брокер ForexInn</a></li>
        <li><a href="@Url.Action("VPS", "Home")">Торгуй круглосуточно</a></li>
        <li><a href="">Свяжитесь с Нами</a></li>
    </ul>
    <p class="footer-text">
        Брокколи трэйд - это сайт, где Вы можете получить советники форекс бесплатно, инструменты инвестиций, позволяющие заработать на форекс сразу. Как начать торговать на форекс не имея опыта - брокколи трэйд - лучшее решение. Здоровые инвестиции.
    </p>
    <p class="copyright">Томск © 2012 - @DateTime.Now.Year Broccoli-Trade.</p>
</div>