@{
    ViewBag.Title = "Пользователи системы";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}
@model BroccoliTrade.Web.BroccoliMvc.Models.Admin.UsersListModel

<div class="banner small">
    <div class="action">
        <font>Пользователи</font>
    </div>
</div>

<div class="center-content users">
    <p><strong>Всего пользователей:</strong>&nbsp;@Model.users.Count()</p>
    <table class="user-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Дата регистрации</th>
                <th>Город</th>
                <th>Откуда (баннер)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Name</td>
                    <td>@user.Phone</td>
                    <td style="text-align: center">@user.RegisterDate</td>
                    <td>@user.City</td>
                    <td style="text-align: center">@user.From</td>
                </tr>
            }
        </tbody>
    </table>
</div>