@{
    ViewBag.Title = "Брокеры";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Брокеры</font>
    </div>
</div>

<div class="center-content broker-info">
    <div class="broker">
        <img src="@Url.Content("~/Content/img/broker-logo.png")"/>
        <span class="button">
            <a href="http://www.forexinn.ru/register/a/broccoli" target="_blank"><input class="large" type="button" value="Открыть счет у Брокера" /></a>
        </span>
        <span>Партнерский код: <font>broccoli</font></span>
    </div>
    <div class="about-broker-container">
        <h4>Брокер ForexInn имеет ряд преимуществ — вот самые вкусные и полезные:</h4>
        <ul class="about-broker">
            <li>1. Пополнение и снятие наличными в офисах.</li>
            <li>2. Нет внутренних курсов, конвертация по курсу ЦБ.</li>
            <li>3. Комиссия на пополнение/снятие — 0%</li>
            <li>4. Вывод средств со счета за 15 минут.</li>
            <li>5. Узкий плавающий спред.</li>
            <li>6. Рыночное исполнение ордеров.</li>
            <li>7. Они рады скальперам и торговым советникам.</li>
            <li>8. Профессиональная круглосуточная техническая поддержка в торговый период.</li>
        </ul>
        <img src="@Url.Content("~/Content/img/depositphotos_1950636-Various-vegetables-isolated.png")"/>
    </div>
    <div class="trading-terms-container">
        <h4>Торговые условия:</h4>
        <ul class="trading-terms">
            <li>Типы счетов: Cent, Classic, PAMM</li>
            <li>Кредитное плечо от 1:10 до 1:500</li>
            <li>Минимальный размер лота 0.01</li>
            <li>Узкий плавающий спред</li>
            <li>Исполнение ордеров Market Execution</li>
            <li>Разрешена торговля советниками</li>
            <li>Ликвидность 7 банков от BBO</li>
            <li>Торговля Forex, Metals, CFD, Oil</li>
            <li>Торговая платформа: MetaTrader 4</li>
        </ul>
        <img src="@Url.Content("~/Content/img/depositphotos_1374386-A-vegetarian-construction-isolated.jpg")"/>
    </div>
    <div class="hr-shadow" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="broker" style="margin-top: 100px;">
            <img src="@Url.Content("~/Content/img/2_30.jpg")" style="margin-left: 125px; margin-top: 23px; width: 235px;"/>
            <span class="button">
                <a href="http://fx-trend.com/new/home?agent=588607" target="_blank"><input class="large" type="button" value="Открыть счет у Брокера" /></a>
            </span>
            <span>Партнерский код: <font>broccoli</font></span>
        </div>
    </div>
    <div class="hr-shadow" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="broker" style="margin-top: 100px;">
            <img src="@Url.Content("~/Content/img/mmcis-logo.png")" style="margin-left: 125px; margin-top: 23px; width: 235px;" />
            <span class="button">
                <a href="https://ru.forex-mmcis.com/index_top_promo.html?ref=118253" target="_blank"><input class="large" type="button" value="Открыть счет у Брокера" /></a>
            </span>
            <span>Партнерский код: <font>broccoli</font></span>
        </div>
    </div>
    <div class="hr-shadow" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="broker" style="margin-top: 100px;">
            <img src="@Url.Content("~/Content/img/panteon_logo.jpg")" style="margin-left: 120px; margin-top: 15px; width: 235px;" />
            <span class="button">
                <a href="https://secure.instaforex.com/open-account.aspx?lang=ru&x=broccoli" target="_blank"><input class="large" type="button" value="Открыть счет у Брокера" /></a>
            </span>
            <span>Партнерский код: <font>broccoli</font></span>
        </div>
    </div>
    <br/>
    <br/>
</div>