@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

@section head {
    <script type="text/javascript" src="@Url.Content("~/Scripts/PersonalCabinet/cabinet.js")"></script>
}

<div class="banner small">
    <div class="action">
        <font>Личный кабинет</font>
    </div>
</div>
<div class="center-content">
    <div class="cabinet-main">
        <h3 class="mrg-top-bottom20 wellcome">Добро пожаловать, <strong>@ViewBag.User.Name</strong>, в Ваш персональный кабинет компании Broccoli Trade!</h3>

        <div class="about-brokers">
            <div class="left">
                <h3>Почему мы?</h3>
                <p>Наша стратегия построена на опыте самых успешных инвесторов, которых мы проанализировали и позволит Вам получать <strong>4-8% в месяц и больше 100% за год</strong> свести риски к минимуму. Каким образом?</p>
            </div>
            <div>
                <img style="margin-top: 20px;" src="@Url.Content("~/Content/img/hp-table-premier.png")" />
            </div>
        </div>
        <div class="about-brokers">
            <div class="left">
                <h3>Существует несколько типов риска.</h3>
                <p>1. <strong>Риск просадки</strong> - когда один трейдер или инвестиционный инструмент получает отрицательную доходность, доход других инструментов перекрывает его и в в целом за расчётный период Вы получаете положительную доходность.</p>
                <p>2. Риск того что <strong>компания обонкротится</strong> и не вернёт деньги на счетах. Мы рекомендуем инвестировать в одну компанию не более 25% от всех Ваших денег, таким образом Вы за 2-4 месяца полностью покроете этот риск за счёт диверсификации, если такой случай наступит.</p>
                <p>3. <strong>Валютный риск</strong> курс доллара постоянно меняется и как показали последние несколько лет в долгосрочной перспективе он растёт. Команда Broccoli-trade рекомендует инвестировать средства минимум на 3 месяца.</p>
            </div>
            <div>
                <h3>Как проинвестировать деньги?</h3>
                <p><strong>Шаг 1.</strong> Зарегистрируйтесь в предложенных компаниях по нашей партнёрской ссылке из кабинета и получите нашу поддержку на протяжение всего периода инвестиций, если мы не обнаружим Ваш имэйл или ФИО списке наших партнёров, то к сожалению, мы не будем продолжать искать для Вас лучшие решения, по нашему мнению это честно.</p>
                <p><strong>Шаг 2.</strong> Распределите Ваши деньги в зависимости от суммы в предложеном соотношении и наблюдайте как растут Ваши счета.</p>
                <p><strong>Шаг 3.</strong> Регулярно читайте письма от нас, мы будем предупреждать Вас о любых событиях, которые позволят сохранить и преумножить Ваш капитал ещё эффективней.</p>
            </div>
        </div>

        <div class="pamm-offer">
            <table class="pamm-offer-table">
                <thead>
                    <tr>
                        <td class="broker-column"></td>
                        <td class="small-container">
                            <div class="name">Small</div>
                            <div class="description">от 10$ до 1500$</div>
                            <input id="small" class="money" value="1000" type="text" />
                            <div class="help-description">Введите сумму в $, которую Вы хотите инвестировать</div>
                        </td>
                        <td class="medium-container">
                            <div class="name">Medium</div>
                            <div class="description">от 1500$ до 3000$</div>
                            <input id="medium" class="money" value="2000" type="text" />
                            <div class="help-description">Введите сумму в $, которую Вы хотите инвестировать</div>
                        </td>
                        <td class="large-container">
                            <div class="name">Large</div>
                            <div class="description">от 3000$</div>
                            <input id="large" class="money" value="5000" type="text" />
                            <div class="help-description">Введите сумму в $, которую Вы хотите инвестировать</div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="broker-column">
                            <img src="@Url.Content("~/Content/img/2_30.jpg")" />
                            <a target="_blank" href="http://fx-trend.com/new/home?agent=588607">Открыть счет</a>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="small-fxtrend" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/518906?agent=588607" target="_blank" class="trader">Jborn</a>
                                <span id="small-fxtrend-1"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/523719?agent=588607" target="_blank" class="trader">Leventa</a>
                                <span id="small-fxtrend-2"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/534457?agent=588607" target="_blank" class="trader">Hozyin</a>
                                <span id="small-fxtrend-3"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/520050?agent=588607" target="_blank" class="trader">votfx</a>
                                <span id="small-fxtrend-4"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/10253?agent=588607" target="_blank" class="trader">investobolin</a>
                                <span id="small-fxtrend-5"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/7031?agent=588607" target="_blank" class="trader">Sven</a>
                                <span id="small-fxtrend-6"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/11695?agent=588607" target="_blank" class="trader">Otmar</a>
                                <span id="small-fxtrend-7"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="medium-fxtrend" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/518906?agent=588607" target="_blank" class="trader">Jborn</a>
                                <span id="medium-fxtrend-1"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/523719?agent=588607" target="_blank" class="trader">Leventa</a>
                                <span id="medium-fxtrend-2"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/534457?agent=588607" target="_blank" class="trader">Hozyin</a>
                                <span id="medium-fxtrend-3"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/520050?agent=588607" target="_blank" class="trader">votfx</a>
                                <span id="medium-fxtrend-4"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/10253?agent=588607" target="_blank" class="trader">investobolin</a>
                                <span id="medium-fxtrend-5"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/7031?agent=588607" target="_blank" class="trader">Sven</a>
                                <span id="medium-fxtrend-6"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/11695?agent=588607" target="_blank" class="trader">Otmar</a>
                                <span id="medium-fxtrend-7"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="large-fxtrend" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/518906?agent=588607" target="_blank" class="trader">Jborn</a>
                                <span id="large-fxtrend-1"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/523719?agent=588607" target="_blank" class="trader">Leventa</a>
                                <span id="large-fxtrend-2"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/534457?agent=588607" target="_blank" class="trader">Hozyin</a>
                                <span id="large-fxtrend-3"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/520050?agent=588607" target="_blank" class="trader">votfx</a>
                                <span id="large-fxtrend-4"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/10253?agent=588607" target="_blank" class="trader">investobolin</a>
                                <span id="large-fxtrend-5"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/7031?agent=588607" target="_blank" class="trader">Sven</a>
                                <span id="large-fxtrend-6"></span>
                            </div>
                            <div class="trader-summ">
                                <a href="http://fx-trend.com/pamm/11695?agent=588607" target="_blank" class="trader">Otmar</a>
                                <span id="large-fxtrend-7"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="broker-column">
                            <img src="@Url.Content("~/Content/img/mmcis-logo.png")" />
                            <a target="_blank" href="https://ru.forex-mmcis.com/index_top_promo.html?ref=118253">Открыть счет</a>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="small-mmcis" class="summ"></div>
                            <div class="trader-summ">
                                <a href="https://ru.forex-mmcis.com/index_top_promo.html?ref=118253" target="_blank" class="trader">Index top 20</a>
                                <span id="small-mmcis-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="medium-mmcis" class="summ"></div>
                            <div class="trader-summ">
                                <a href="https://ru.forex-mmcis.com/index_top_promo.html?ref=118253" target="_blank" class="trader">Index top 20</a>
                                <span id="medium-mmcis-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="large-mmcis" class="summ"></div>
                            <div class="trader-summ">
                                <a href="https://ru.forex-mmcis.com/index_top_promo.html?ref=118253" target="_blank" class="trader">Index top 20</a>
                                <span id="large-mmcis-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="broker-column">
                            <img src="@Url.Content("~/Content/img/panteon_logo.jpg")" />
                            <a target="_blank" href="http://panteon-finance.com/newMember/7138.html">Открыть счет</a>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="small-panteon" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://panteon-finance.com/fundsTo/to2_119.html" target="_blank" class="trader">Stable 30</a>
                                <span id="small-panteon-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="medium-panteon" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://panteon-finance.com/fundsTo/to2_119.html" target="_blank" class="trader">Stable 30</a>
                                <span id="medium-panteon-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="large-panteon" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://panteon-finance.com/fundsTo/to2_119.html" target="_blank" class="trader">Stable 30</a>
                                <span id="large-panteon-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="broker-column">
                            <img src="@Url.Content("~/Content/img/broker-logo.png")" />
                            <a target="_blank" href="http://www.forexinn.ru/register/a/broccoli">Открыть счет</a>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="small-forexinn" class="summ"></div>
                            <div class="trader-summ">
                                <a href="https://my.forexinn.ru/trader/19214/a/broccoli" target="_blank" class="trader">Накопительный</a>
                                <span id="small-forexinn-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="medium-forexinn" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://www.forexinn.ru/register/a/broccoli" target="_blank" class="trader">Накопительный</a>
                                <span id="medium-forexinn-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                        <td>
                            <div class="help-description">Рекомендуем инвестировать:</div>
                            <div id="large-forexinn" class="summ"></div>
                            <div class="trader-summ">
                                <a href="http://www.forexinn.ru/register/a/broccoli" target="_blank" class="trader">Накопительный</a>
                                <span id="large-forexinn-1"></span>
                            </div>
                            <div class="trader-remark">% - доля инвестирования в инструмент</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Если Вы планируете проинвестировать от 20 000$, пожалуйста, свяжитесь с нами через службу поддержки или форму обратной связи и мы предоставим Вам особые условия инвестирования.</h4>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#small').spinner({
            step: 10,
            min: 10,
            max: 1499,
            start: 1000
        }).on('change', function () {
            var val = this.value,
                $this = $(this),
                max = $this.spinner('option', 'max'),
                min = $this.spinner('option', 'min');
            if (!val.match(/^\d+$/)) val = 0; //we want only number, no alpha
            this.value = val > max ? max : val < min ? min : val;
        });

        $('#medium').spinner({
            step: 100,
            min: 1500,
            max: 2999,
            start: 2000
        }).on('change', function () {
            var val = this.value,
                $this = $(this),
                max = $this.spinner('option', 'max'),
                min = $this.spinner('option', 'min');
            if (!val.match(/^\d+$/)) val = 0; //we want only number, no alpha
            this.value = val > max ? max : val < min ? min : val;
        });

        $('#large').spinner({
            step: 100,
            min: 3000,
            start: 5000
        }).on('change', function () {
            var val = this.value,
                $this = $(this),
                max = $this.spinner('option', 'max'),
                min = $this.spinner('option', 'min');
            if (!val.match(/^\d+$/)) val = 0; //we want only number, no alpha
            this.value = val > max ? max : val < min ? min : val;
        });

        $('.pamm-offer-table tbody td:not(.broker-column)').mouseenter(function () {
            var index = $(this).index();

            $('.pamm-offer-table tbody tr').each(function () {
                $('td', this).eq(index).css('background', '#FFF5E5');
            });
        }).mouseleave(function () {
            var index = $(this).index();

            $('.pamm-offer-table tbody tr').each(function () {
                $('td', this).eq(index).css('background', '#F4F5F7');
            });
        });

        $('.small-container .ui-icon.ui-icon-triangle-1-n').click(CalcSmall);
        $('.small-container .ui-icon.ui-icon-triangle-1-s').click(CalcSmall);
        $('.small-container .ui-spinner-input').change(CalcSmall);
        $('.small-container .ui-spinner-input').keyup(CalcSmall);

        $('.medium-container .ui-icon.ui-icon-triangle-1-n').click(CalcMedium);
        $('.medium-container .ui-icon.ui-icon-triangle-1-s').click(CalcMedium);
        $('.medium-container .ui-spinner-input').change(CalcMedium);
        $('.medium-container .ui-spinner-input').keyup(CalcMedium);

        $('.large-container .ui-icon.ui-icon-triangle-1-n').click(CalcLarge);
        $('.large-container .ui-icon.ui-icon-triangle-1-s').click(CalcLarge);
        $('.large-container .ui-spinner-input').change(CalcLarge);
        $('.large-container .ui-spinner-input').keyup(CalcLarge);

        CalcSmall();
        CalcMedium();
        CalcLarge();
    });

    function CalcSmall()
    {
        var jborn = 0;
        var leventa = 0;
        var hozyin = 0;
        var votfx = 0;
        var indextop20 = 0;
        var stable30 = 0;
        var investobolin = 0;
        var sven = 0;
        var otmar = 0;
        var nakopitelny = 0;

        var value = $('#small').spinner('value');

        if (value >= 10 && value < 60)
        {
            jborn = 100;
        }

        if (value >= 60 && value < 150) {
            jborn = 16.667;
            leventa = 83.33;
        }

        if (value >= 150 && value < 200) {
            leventa = 33.33;
            hozyin = 66.66;
        }

        if (value >= 200 && value < 300) {
            votfx = 50;
            hozyin = 50;
        }

        if (value >= 300 && value < 400) {
            votfx = 33.33;
            hozyin = 33.33;
            indextop20 = 33.33;
        }

        if (value >= 400 && value < 500) {
            stable30 = 25;
            votfx = 25;
            hozyin = 25;
            indextop20 = 25;
        }

        if (value >= 500 && value < 600) {
            stable30 = 20;
            votfx = 20;
            hozyin = 20;
            investobolin = 20;
            indextop20 = 20;
        }

        if (value >= 600 && value < 700) {
            stable30 = 16.66;
            votfx = 16.66;
            hozyin = 16.66;
            investobolin = 16.66;
            leventa = 16.66;
            indextop20 = 16.66;
        }

        if (value >= 700 && value < 900) {
            stable30 = 14.285714;
            votfx = 14.285714;
            hozyin = 14.285714;
            investobolin = 14.285714;
            leventa = 14.285714;
            jborn = 14.285714;
            indextop20 = 14.285714;
        }

        if (value >= 900 && value < 1100) {
            stable30 = 11.11;
            votfx = 11.11;
            hozyin = 11.11;
            investobolin = 11.11;
            leventa = 11.11;
            jborn = 11.11;
            indextop20 = 11.11;
            sven = 22.22;
        }

        if (value >= 1100 && value < 1300) {
            stable30 = 9.09;
            votfx = 9.09;
            hozyin = 9.09;
            investobolin = 9.09;
            leventa = 9.09;
            jborn = 9.09;
            indextop20 = 9.09;
            sven = 18.18;
        }

        if (value >= 1300 && value < 1500) {
            stable30 = 7.6923;
            votfx = 7.6923;
            hozyin = 7.6923;
            investobolin = 7.6923;
            leventa = 7.6923;
            jborn = 7.6923;
            indextop20 = 7.6923;
            sven = 15.384615;
        }

        // fxtrend
        if (jborn + leventa + hozyin + votfx + investobolin + sven + otmar > 0) {
            $('#small-fxtrend').html(Math.round(value * (jborn + leventa + hozyin + votfx + investobolin + sven + otmar) * 0.01) + '$');
        }
        else {
            $('#small-fxtrend').html('—');
        }

        if (jborn != 0)
        {
            $('#small-fxtrend-1').html(Math.round(value * jborn * 0.01) + '$ <span class="percent">(' + jborn.toFixed(2) + '%)</span>');
            $('#small-fxtrend-1').parent().show();
        }
        else {
            $('#small-fxtrend-1').parent().hide();
        }

        if (leventa != 0) {
            $('#small-fxtrend-2').html(Math.round(value * leventa * 0.01) + '$ <span class="percent">(' + leventa.toFixed(2) + '%)</span>');
            $('#small-fxtrend-2').parent().show();
        }
        else {
            $('#small-fxtrend-2').parent().hide();
        }

        if (hozyin != 0) {
            $('#small-fxtrend-3').html(Math.round(value * hozyin * 0.01) + '$ <span class="percent">(' + hozyin.toFixed(2) + '%)</span>');
            $('#small-fxtrend-3').parent().show();
        }
        else {
            $('#small-fxtrend-3').parent().hide();
        }

        if (votfx != 0) {
            $('#small-fxtrend-4').html(Math.round(value * votfx * 0.01) + '$ <span class="percent">(' + votfx.toFixed(2) + '%)</span>');
            $('#small-fxtrend-4').parent().show();
        }
        else {
            $('#small-fxtrend-4').parent().hide();
        }

        if (investobolin != 0) {
            $('#small-fxtrend-5').html(Math.round(value * investobolin * 0.01) + '$ <span class="percent">(' + investobolin.toFixed(2) + '%)</span>');
            $('#small-fxtrend-5').parent().show();
        }
        else {
            $('#small-fxtrend-5').parent().hide();
        }

        if (sven != 0) {
            $('#small-fxtrend-6').html(Math.round(value * sven * 0.01) + '$ <span class="percent">(' + sven.toFixed(2) + '%)</span>');
            $('#small-fxtrend-6').parent().show();
        }
        else {
            $('#small-fxtrend-6').parent().hide();
        }

        if (otmar != 0) {
            $('#small-fxtrend-7').html(Math.round(value * otmar * 0.01) + '$ <span class="percent">(' + otmar.toFixed(2) + '%)</span>');
            $('#small-fxtrend-7').parent().show();
        }
        else {
            $('#small-fxtrend-7').parent().hide();
        }

        // mmcis 
        if (indextop20 > 0) {
            $('#small-mmcis').html(Math.round(value * indextop20 * 0.01) + '$');
        }
        else {
            $('#small-mmcis').html('—');
        }
        
        if (indextop20 != 0) {
            $('#small-mmcis-1').html(Math.round(value * indextop20 * 0.01) + '$ <span class="percent">(' + indextop20.toFixed(2) + '%)</span>');
            $('#small-mmcis-1').parent().show();
        }
        else {
            $('#small-mmcis-1').parent().hide();
        }

        // panteon
        if (stable30 > 0) {
            $('#small-panteon').html(Math.round(value * stable30 * 0.01) + '$');
        }
        else {
            $('#small-panteon').html('—');
        }
        
        if (stable30 != 0) {
            $('#small-panteon-1').html(Math.round(value * stable30 * 0.01) + '$ <span class="percent">(' + stable30.toFixed(2) + '%)</span>');
            $('#small-panteon-1').parent().show();
        }
        else {
            $('#small-panteon-1').parent().hide();
        }

        // forexinn
        if (nakopitelny > 0) {
            $('#small-forexinn').html(Math.round(value * nakopitelny * 0.01) + '$');
        }
        else {
            $('#small-forexinn').html('—');
        }
        
        if (nakopitelny != 0) {
            $('#small-forexinn-1').html(Math.round(value * nakopitelny * 0.01) + '$ <span class="percent">(' + nakopitelny.toFixed(2) + '%)</span>');
            $('#small-forexinn-1').parent().show();
        }
        else {
            $('#small-forexinn-1').parent().hide();
        }
    }

    function CalcMedium() {
        var jborn = 0;
        var leventa = 0;
        var hozyin = 0;
        var votfx = 0;
        var indextop20 = 0;
        var stable30 = 0;
        var investobolin = 0;
        var sven = 0;
        var otmar = 0;
        var nakopitelny = 0;

        var value = $('#medium').spinner('value');

        if (value >= 1500 && value < 2000) {
            stable30 = 13.30;
            votfx = 13.30;
            hozyin = 13.30;
            investobolin = 13.30;
            indextop20 = 13.30;
            jborn = 13.30;
            sven = 13.30;
            nakopitelny = 13.30;
        }

        if (value >= 2000 && value < 2500) {
            otmar = 25;
            sven = 10;
            indextop20 = 25;
            votfx = 12.5;
            jborn = 12.5;
            hozyin = 15;
        }

        if (value >= 2500 && value < 3000) {
            otmar = 20;
            indextop20 = 20;
            votfx = 15;
            hozyin = 15;
            stable30 = 15;
            jborn = 15;
        }

        // fxtrend
        if (jborn + leventa + hozyin + votfx + investobolin + sven + otmar > 0) {
            $('#medium-fxtrend').html(Math.round(value * (jborn + leventa + hozyin + votfx + investobolin + sven + otmar) * 0.01) + '$');
        }
        else {
            $('#medium-fxtrend').html('—');
        }

        if (jborn != 0) {
            $('#medium-fxtrend-1').html(Math.round(value * jborn * 0.01) + '$ <span class="percent">(' + jborn.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-1').parent().show();
        }
        else {
            $('#medium-fxtrend-1').parent().hide();
        }

        if (leventa != 0) {
            $('#medium-fxtrend-2').html(Math.round(value * leventa * 0.01) + '$ <span class="percent">(' + leventa.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-2').parent().show();
        }
        else {
            $('#medium-fxtrend-2').parent().hide();
        }

        if (hozyin != 0) {
            $('#medium-fxtrend-3').html(Math.round(value * hozyin * 0.01) + '$ <span class="percent">(' + hozyin.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-3').parent().show();
        }
        else {
            $('#medium-fxtrend-3').parent().hide();
        }

        if (votfx != 0) {
            $('#medium-fxtrend-4').html(Math.round(value * votfx * 0.01) + '$ <span class="percent">(' + votfx.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-4').parent().show();
        }
        else {
            $('#medium-fxtrend-4').parent().hide();
        }

        if (investobolin != 0) {
            $('#medium-fxtrend-5').html(Math.round(value * investobolin * 0.01) + '$ <span class="percent">(' + investobolin.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-5').parent().show();
        }
        else {
            $('#medium-fxtrend-5').parent().hide();
        }

        if (sven != 0) {
            $('#medium-fxtrend-6').html(Math.round(value * sven * 0.01) + '$ <span class="percent">(' + sven.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-6').parent().show();
        }
        else {
            $('#medium-fxtrend-6').parent().hide();
        }

        if (otmar != 0) {
            $('#medium-fxtrend-7').html(Math.round(value * otmar * 0.01) + '$ <span class="percent">(' + otmar.toFixed(2) + '%)</span>');
            $('#medium-fxtrend-7').parent().show();
        }
        else {
            $('#medium-fxtrend-7').parent().hide();
        }

        // mmcis 
        if (indextop20 > 0) {
            $('#medium-mmcis').html(Math.round(value * indextop20 * 0.01) + '$');
        }
        else {
            $('#medium-mmcis').html('—');
        }

        if (indextop20 != 0) {
            $('#medium-mmcis-1').html(Math.round(value * indextop20 * 0.01) + '$ <span class="percent">(' + indextop20.toFixed(2) + '%)</span>');
            $('#medium-mmcis-1').parent().show();
        }
        else {
            $('#medium-mmcis-1').parent().hide();
        }

        // panteon
        if (stable30 > 0) {
            $('#medium-panteon').html(Math.round(value * stable30 * 0.01) + '$');
        }
        else {
            $('#medium-panteon').html('—');
        }

        if (stable30 != 0) {
            $('#medium-panteon-1').html(Math.round(value * stable30 * 0.01) + '$ <span class="percent">(' + stable30.toFixed(2) + '%)</span>');
            $('#medium-panteon-1').parent().show();
        }
        else {
            $('#medium-panteon-1').parent().hide();
        }

        // forexinn
        if (nakopitelny > 0) {
            $('#medium-forexinn').html(Math.round(value * nakopitelny * 0.01) + '$');
        }
        else {
            $('#medium-forexinn').html('—');
        }

        if (nakopitelny != 0) {
            $('#medium-forexinn-1').html(Math.round(value * nakopitelny * 0.01) + '$ <span class="percent">(' + nakopitelny.toFixed(2) + '%)</span>');
            $('#medium-forexinn-1').parent().show();
        }
        else {
            $('#medium-forexinn-1').parent().hide();
        }
    }

    function CalcLarge() {
        var value = $('#large').spinner('value');

        $('#large-forexinn').html(Math.round(value * 0.25) + '$');
        $('#large-forexinn-1').html(Math.round(value * 0.25) + '$ <span class="percent">(25%)</span>');

        $('#large-fxtrend').html(Math.round(value * 0.35) + '$');
        $('#large-fxtrend-1').html(Math.round(value * 0.175) + '$ <span class="percent">(17.5%)</span>');
        $('#large-fxtrend-2').html(Math.round(value * 0.175) + '$ <span class="percent">(17.5%)</span>');

        $('#large-mmcis').html(Math.round(value * 0.15) + '$');
        $('#large-mmcis-1').html(Math.round(value * 0.15) + '$ <span class="percent">(15%)</span>');

        $('#large-panteon').html(Math.round(value * 0.25) + '$');
        $('#large-panteon-1').html(Math.round(value * 0.25) + '$ <span class="percent">(25%)</span>');
    }
</script>